<h1>Login</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "Login" %>
  </div>
<% end %>

<p>
  Don’t have an account?
  <%= link_to "Sign up", new_user_registration_path %>
</p>
<p>
  Forgot your password?
  <%= link_to "Reset it", new_user_password_path %>
</p>